html{
	margin: 25px 50px 75px 50px;
	
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: gray;
  text-align: center;

}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 2px solid gray;
    color: gray;
  	background-color: white;
  	padding: 8px 90px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-right: 40px
}

.custom-file-button {
    border: 2px solid gray;
    color: gray;
  	background-color: white;
  	padding: 8px 20px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-right: 40px
}

.custom-url-button {
    border: 2px solid gray;
    color: gray;
  	background-color: white;
  	padding: 8px 20px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-right: 40px
}

input[type=url] {
   /* Awesome styling */
   border: 2px solid gray;
    color: gray;
  	background-color: white;
  	padding: 8px 20px;
  	border-radius: 8px;
  	font-size: 20px;
  	font-weight: bold;
  	margin-left: 40px;
  	margin-right: 40px
}


h4{
	color:green;
}


	
.table{
	margin-left: auto;
  	margin-right: auto;
}

.divform{
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}