<center><h1>Detection of skin disease using deep learning</h1></center>


<center>	
<form action='upload' method="post" enctype="multipart/form-data">
	<label> Upload Image</label>
	{% csrf_token %}
	<input type="file" name="image">
	<input type="submit" value="upload file">
</form>


<form action='upoadbyURL' method="POST"> 
	<label> Add image URL</label>
    {% csrf_token %}
    <input  type="url" name="imgurls" >
    <input type="submit" value="OK">
</form>
</center>


<center>	
<img src="{{url}}" ,width="500" height="400">
</center>	

<center>
	<h3>{{ pred }}</h3>
</center>

<h4>Here you can diagnose six skin diseases	</h4>	
<ul>
	<li>Actinic Keratosis (ACK)	</li>
	<li>Basal Cell Carcinoma (BCC)	</li>
	<li>Melanoma (MEL)	</li>
	<li>Nevus (NEV)	</li>
	<li>Squamous Cell Carcinoma (SCC)	</li>
	<li>Seborrheic Keratosis (SEK)	</li>
</ul>

<center><img src="result.png" alt="result"></center>



<center>
<p>We almost got the same result, mentioned in the paper <br>
<a href="https://www.sciencedirect.com/science/article/pii/S0010482519304019?via%3Dihub">The impact of patient clinical information on automated skin cancer detection</a>.<br>
Pardon me for such as ugly website, as i am not good in frontend web devolopment. <br>
If you want to contribute, please open a PR at my <a href="https://github.com/talhaanwarch/skin_lesion_diagnosis_app">github repo</a>
 </p>
 </center>
 <center>
 <h4> Talha Anwar</h4></center>